.facilitieWrapper {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    
}

.facilities-h2 {
    margin-left: 150px;
    margin-bottom: 90px;

    font-size: 30px;
}

.facilities img {
    width: 20px;
    
}


.facilities p {
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    opacity: 50%;
    padding-right: 15px;
}
